<div>
  <% if current_user.present? %>
    <%= link_to "Logout", :logout, data: { "turbo-method": :delete }%>
  <% else %>
    <%= link_to("Register", new_user_path) %>
    <%= link_to "Login", :login %>
  <% end %>
</div>
