<div class="flex justify-end">
  <% if current_user.present? %>
    <%= link_to "Logout", "logout", data: { "turbo-method": :delete } %>
  <% else %>
    <div class="flex gap-5">
      <%= link_to("Register", new_user_path, class: "block") %>
      <%= link_to("Login","login", class: "block") %>
    </div>
  <% end %>
</div>
